:root{
    --primary-color:rgba(238,75,43);
    --primary-color-rgba:rgba(238,75,43,0.1);
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --border-color :#dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height : 120px;
    --navbar-height : 34px;
    --header-with-search-height : calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* Responsive  */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 16.6667%);
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;

}

/* Animations */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Modal  */

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    display: flex; 
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{
    --growth-from: 0.3;
    --growth-to:1.0;
    position: relative;
    margin : auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button Style  */
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.08);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
/* 1 element phải chứa cả 2 class này */
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disable{
    cursor: default;
    background: #c3c3c3;
    color: #949494;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn:hover{
    opacity: 0.8;
}

/* Selection  */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.2rem;
}
.select-input__list{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 2px;
    list-style-type: none;
    background-color: var(--white-color);
    padding: 12px 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.select-input__item{
}

.select-input__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 6px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pagination-item{
    margin: 0 12px;
    border-radius: 2px;
}
.pagination-item--active{
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    filter: brightness(80%);
}
.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    color :#939393;
    font-size: 2rem;
    font-weight: 300;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
}

/* Footer  */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    list-style-type: none;
    padding-left: 0;
}
.footer-item__link{
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 4px 0 ;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.8rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
}
.footer__download-qr-img{
    width: 80px;
    height: 80px;
    /* hoặc dùng để ảnh trở về hình dạng ban đầu
     object-fit: contain; */
    border: 1px solid var(--border-color);
}
.footer__download--app{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer__download--app-img{
    height: 16px;
}
.footer__download--app-link{
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    background: #eee;
    padding: 12px 0;
    margin-top: 24px;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}